<!DOCTYPE html>
<html>
<head>
  <title>Fragmented</title>
  <%= stylesheet_link_tag 'markitup/style', 'markitup/html_set' %>
  <%= javascript_include_tag 'jquery', 'set', 'jquery.markitup', 'fragment' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
